---
import Link from "./ui/link.astro";
---

<div
  class="bg-customMint p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center font-sans">
  <h2 class="text-black text-4xl md:text-6xl tracking-tight">
    Parent with Confidence.
  </h2>
  <p class="text-black mt-4 text-lg md:text-xl">
    Get expert-backed strategies and practical tips to create stress-free routines and handle challenges with ease.
  </p>
  <div class="flex mt-5">
    <Link href="https://your.daycare.mom/stress-free-potty-guide" target="_blank" style="cta">Get Started</Link>
  </div>
</div>
