---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Personalized Potty Training Plans",
    description:
      "Tailor your potty training approach with flexible routines that fit your child’s unique needs.",
    icon: "bx:bx-child",
  },
  {
    title: "Quick Parenting Solutions",
    description:
      "Access fast, effective tips for managing fussy eaters, toddler tantrums, and daily routines.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Stress-Free Routines",
    description:
      "Build daily schedules with ease, designed for both busy parents and active toddlers.",
    icon: "bx:bxs-donate-heart",
  },
  {
    title: "Parenting Made Simple",
    description:
      "Choose from guides, videos, or PDFs to find solutions that work best for your family.",
    icon: "bx:bxs-extension",
  },
  {
    title: "Expert Support at Your Fingertips",
    description:
      "Get practical advice from over 10 years of daycare experience to help with every parenting challenge.",
    icon: "bx:glasses-alt",
  },
  {
    title: "Easy-to-Follow Guides",
    description:
      "From potty training to bedtime routines, follow step-by-step guides to keep things stress-free and enjoyable.",
    icon: "bx:dots-horizontal",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to simplify parenting.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Our resources come fully equipped with proven strategies and expert guidance, plus our own unique insights.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-customBlue rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
