---
import { Picture } from "astro:assets";
import heroImage from "assets/maria-welcome.webp";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import mixpanel from "../utils/mixpanel";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Welcome
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      My name is <strong>Maria</strong>, and I run a daycare with over 10 years
      of experience working with babies, toddlers, and kids.
      <wbr /> I’m passionate about helping parents make life with children easier
      and more stress-free.
      <wbr />
      <wbr />
      Using my knowledge, I share practical advice that makes parenting more enjoyable.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <!-- <Link
        href="https://your.daycare.mom/stress-free-potty-guide"
        target="_blank"
        class="flex gap-1 items-center justify-center hero-cta-button"
        style="cta">
        <Icon class="text-white w-5 h-5" name="bx:bxs-book-heart" />

        Get your stress-free potty guide
      </Link> -->
      <Link
      href="https://your.daycare.mom/tantrum-guide"
      target="_blank"
      class="flex gap-1 items-center justify-center hero-cta-button"
      style="cta">
      <Icon class="text-white w-5 h-5" name="bx:bxs-book-heart" />
      Stress-Free Tantrum Tips That Work
    </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/guides"
        class="flex gap-1 items-center justify-center guides-cta-button">
        <Icon class="text-black w-4 h-4" name="bx:bookmarks" />
         My other guides
      </Link>
    </div>
  </div>
</main>

<script>
  import mixpanel from "@utils/mixpanel";

  const button = document.querySelector(".hero-cta-button");
  button?.addEventListener("click", () => {
    try {
      fbq("track", "ViewContent");
    } catch {
      console.log("track failed");
    }
    try {
      mixpanel.track("Click", { Destination: "tantrum-guide" });
    } catch {
      console.log("track mix failed");
    }
    return true;
  });
</script>
