---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="my-16">
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <a
      href="https://www.threads.net/@your.daycare.mom"
      target="_blank"
      title="Your daycare mom - on threads">
      <Icon class="size-6 md:size-10" name="simple-icons:threads" />
    </a>
    <a
      href="https://instagram.com/your.daycare.mom"
      target="_blank"
      title="Your daycare mom - on Instagram">
      <Icon class="size-6 md:size-10" name="simple-icons:instagram" />
    </a>
    <a
      href="https://www.facebook.com/your.daycare.mom"
      target="_blank"
      title="Your daycare mom - on threads">
      <Icon class="size-6 md:size-10" name="simple-icons:facebook" />
    </a>
  </div>
</div>
